.breadcrumb{
    background-color: $primary-color;
    margin: 0 -10px;
    margin-bottom: 10px;
    padding: 0px;
    color: $background-color;
    border-radius: 5px 5px 0 0;

    &>li{
        color: $background-color;
        padding: 15px 15px;

        &:first-child{
            border-radius: 5px 0 0 0;
        }

        &.active, &.active a  {
            background: $background-color;
            color: $primary-color; 
            font-weight: bold;
            text-decoration: underline;
        }
    }
    
    & a{
        color: $background-color;
    }

    &>li+li:before {
        padding: 0;
        content: "";
    }
    
}
