.btn-group-block {
  display: table;
  table-layout: auto;
  width: 100%;
  border-collapse: separate;

  .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
  }
}

.btn-next{
  background: $primary-color; 
  border-color: $accent-color;

  &:focus, &:hover{
    background: $accent-color; 
    border-color: $accent-color;
  }
}

.btn-export{
  background: #33AACE; 
  border-color: #33AACE;

  &:focus, &:hover{
    background: #2991AD; 
    border-color: #2991AD;
  }
}

.btn-save{
  background: $primary-color; 
  border-color: $accent-color;
  margin-left: -10px;
  margin-right: -10px;

  &:focus, &:hover{
    background: $accent-color; 
    border-color: $accent-color;
  }
}

.nav-buttons{
  width: 100px;
}

