.btn-group-block {
  display: table;
  table-layout: auto;
  width: 100%;
  border-collapse: separate;

  .btn-group {
    display: table-cell;
    float: none;
    width: 1%;
  }
}

.btn-next{
  background: $primary-color; 
  border-color: $accent-color;

  &:focus, &:hover{
    background: $accent-color; 
    border-color: $accent-color;
  }
}

.btn-export{
  background: $accent-color;; 
  border-color: $primary-color;

  &:focus, &:hover{
    background: $primary-color; 
    border-color: $primary-color;
  }
}

.btn-save{
  background: #2eb5de; 
  border-color: #1ec1f3;

  &:focus,  &:hover{
    background: #1ec1f3; 
    border-color: #1ec1f3;
  }

  &:active, &:active:hover, &:active:focus{
    background: #189dc5; 
  }
}

.nav-buttons{
  width: 100px;
}

.btn-lg{
  white-space: normal;
}

