@import "config";

.form-subgroup {
  $side-padding: $form-subgroup-side-padding;
  border: $border-color 1px solid;
  border-radius: $border-radius;
  background: $form-subgroup-background;
  padding: 10px $side-padding;
  margin-bottom: 10px;
  margin-left: -($side-padding);
  margin-right: -($side-padding);
}

textarea {
  max-width: 100%;
}

.progress-img{
  max-width: 100%;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type="text"][disabled] {
    background-color : #e3e3e3; 
  }
