@import "config";
@import "mixins";

.top{
  width: 100%;
  max-height: 50%;
  min-height: 200px;
  height: 300px;

  .or-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 10px;
    border: 2px solid $border-color;
    border-radius: $border-radius;
    background: $background-color;
    @include transform(translate(-50%,-50%));
    font-size: 16px;
    color: #7f7f7f;
  }
}

.image{
  &-preview, &-url {
    $caption-width: 220px;
    $caption-height: 74px;
    min-height: 100px;
    text-align: center;
    width: 100%;
    height: 50%;
    border: 1px solid $border-color;
    border-radius: $border-radius $border-radius 0 0;
    position: relative;
    background: $form-subgroup-background;
    @include transition(border-color $transition-duration $transition-type);

    &-caption {
      @include centralise($caption-width, $caption-height);
      width: $caption-width;
      height: $caption-height;
      text-align: center;
      font-size: 18px;
      color: $text-grey;
      @include transition(color $transition-duration $transition-type);
    }

    &:hover {
      border-color: darken($border-color, $hover-darken);

      .image-preview-caption {
          color: darken($text-grey, $hover-darken);
      }

    }

    &-switch {
      margin-top: 10px;
      text-align: right;
    }

    &-container {
      text-align: center;
    }

    &-wrap {
      display: inline-block;
      max-width: 100%;

      .warning {
        color: #8a6d3b;
        font-weight: bold;
      }
    }

    input {
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

  }


  &-url{
    border-radius: 0 0 $border-radius $border-radius ;
    cursor: pointer;
  }
  
}

div[img-placeholder]{
  position: relative;
  $border-width: 3px;

  & #corner-selector{
    content: ""; 
    display: block; 
    width: 60px;
    height: 60px;
    border: $border-width solid #2eb5de;
    position: absolute;
    pointer-events: none;
  }

  &.step-0 #corner-selector{
    
    border-width: 0 0 $border-width $border-width; 
    /* top: auto; 
    right: auto;
    bottom: 23px;
    left: -5px; */
  }

  &.step-1 #corner-selector{
    border-width: 0 $border-width $border-width 0; 
    /* top: auto; 
    left: auto;
    bottom: 23px;
    right: -5px; */
  }

  &.step-2 #corner-selector{
    border-width: $border-width 0 0 $border-width; 
    /* top: -5px; 
    left: -5px;
    bottom: auto;
    right: auto; */
  }

  &.step-3 #corner-selector{
    border-width: $border-width $border-width 0 0; 
    /* top: -5px; 
    left: auto;
    bottom: auto;
    right: -5px; */
  }

  &.step-4 #corner-selector{
    border-width: 0; 
    display: none;
  }
}

