@import "config";
@import "mixins";

@mixin unstick() {
  position: relative;
  padding-top: 0;
  top: 0;
}

.sticky-area {
  position: absolute;
  padding-top: 0;
  // top: 75px;
  @include transition(padding-top $transition-type $transition-duration);

  &.affix {
    position: fixed;
    padding-top: 10px;
    top: 0;
  }

  @media (max-width: 992px) {
    @include unstick();

    &.affix {
      @include unstick();
    }

  }

}

body{
  background: $body-background-color;
}

.editor-content{
  padding: 20px;
}

.side-content{
  background: #fff;
  border: 1px solid $border-color;
  margin: 0px; 
  padding: 0 10px;
  border-radius: 5px;
  padding-bottom: 0;

}

h1 {
  color: #000;
  font-size: 20pt;
}

.fce-header {
  background: #fff;
  height: 130px;
  padding-top: 25px;

  &-container {
    display: table;
    height: 100%;

    &>div{
      display: table-cell;
      vertical-align: middle;
    }

    .logo{
      margin-bottom: 10px;
      max-height: 50px;
      max-width: 100%;
    }

    small{
      color: #888;
      font-variant: small-caps;
      font-size: 100%;
    }
  }
}

.col-20p{
  width: 20% !important;
}

.col-25p{
  width: 25% !important;
}



