@mixin centralise($width, $height) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$height/2;
  margin-left: -$width/2;
}

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }

  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin transition($args...) {
  @include prefix(transition, $args, webkit moz ms o);
}

@mixin transform($args) {
  @include prefix(animation-name, $args, webkit moz ms o);
}