@import "config";

.previously-created {
    border: 1px solid $border-color;
    border-radius: 5px;
    padding-bottom: 0px;
    padding: 0 10px;
    background: $background-color;
    height: 300px;

    @include sm{
      height: 450px;
    }

  &-inner {
    overflow-y: auto;
    height: 250px;
    @include sm{
      height: 400px;
    }
  }

  &-item {
    display: table;
    $border: 1px solid $border-color;

    @mixin haf() {
      &:hover,
      &:active,
      &:focus {
        @content;
      }
    }

    border-top: $border;

    &:last-child {
      border-bottom: $border;
    }

    &-title {
      padding: 5px 0;
      width: 100%;
    }
    &-tool {
      padding: 5px 11px;
      color: $text-grey;
      @include transition(color $transition, background $transition);

      @include haf {
        background: #f7f7f7;
        color: darken($text-grey, $hover-darken);
      }

    }

    a {
      display: table-cell;
      @include transition(color $transition);

      @include haf {
        text-decoration: none;
      }

    }

  }
}