<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Four Corners Editor</title>
    <link href="css/style.css" rel="stylesheet">

</head>

<body ng-app="FourCornersEditor">
    <div class="container-fluid" ng-controller="FormController" ng-cloak>
        <div class="row fce-header">
            <div class="col-xs-12 text-center fce-header-container">
                <div>
                    <img class="logo" src="img/logowtext-lg.png" />
                    <br>
                    <small>Generate and edit metadata for an image</small>
                </div>
            </div>
        </div>
        <br>
        <h2 class="text-center loading" ng-hide="loaded">
            Loading...
        </h2>
        <form class="form-horizontal" ng-show="loaded">

            <div class="row" ng-show="welcomeView">
                <div ng-include="'ng-templates/welcome-view.html'"></div>
            </div>
            <div class="editor-content">
                <div ng-hide="welcomeView">

                    <div class="row">

                        <div class="col-md-5 sticky-area" ng-affix>

                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div ng-image-preview external-src="src" top-left-visible="preview.topLeftVisible" top-right-visible="preview.topRightVisible"
                                        bottom-left-visible="preview.bottomLeftVisible" bottom-right-visible="preview.bottomRightVisible"
                                        fc-data="preview.json"></div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-md-7 col-md-offset-5">
                            <div class="row side-content">
                                <div class="row breadcrumb">
                                    <div ng-repeat="step in steps" ng-class="{'active': step.step == currentStep, 'col-20p': !iframeMode || isChromeExtension, 'col-25p': iframeMode && !isChromeExtension}" ng-hide="(step.step == steps.length-1) && iframeMode && !isChromeExtension"
                                        class="col-xs-12">
                                        <div class="bc-item" ng-click="stepTo(step.step)" href="" >
                                            <div class="bc-icon">
                                                <img ng-src="{{step.icon}}" />
                                            </div>
                                            <div class="bc-name">{{step.name}}</div>
                                        </div>
                                    </div>
                                </div>



                                <fieldset ng-include="getStepTemplate()">
                                </fieldset>

                                <div ng-hide="(iframeMode && !isChromeExtension) || !(currentStep == steps.length-1)">
                                    <legend>
                                        <img src="img/logo.png" style="height: 30px; padding: 5px;" /> Export</legend>
                                    <p class="help-block">
                                        Copy or download the generated data and paste it into the website where you want the Four Corners image to show.
                                    </p>
                                    <br>
                                    <div class="form-group">
                                        <div class="col-xs-12">
                                            <button type="button" class="btn btn-primary btn-export btn-block btn-lg" ng-click="generate(downloadButtons[1])">
                                                {{ downloadButtons[1].text }}
                                            </button>
                                            <br>
                                        </div>

                                        <div class="col-xs-12">
                                            <button type="button" class="btn btn-default btn-block btn-lg" ng-click="generate(downloadButtons[0])">
                                                {{ downloadButtons[0].text }}
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <br>
                                <!-- <div class="form-group">
                                    <div class="col-xs-5 col-sm-5">
                                        <button type="button" ng-hide="currentStep == 0" class="btn btn-default btn-prev btn-block btn-lg pull-left nav-buttons"
                                            ng-click="stepTo(currentStep - 1)">
                                            Previous
                                        </button>
                                    </div>

                                    <div class="col-xs-2 col-sm-2">
                                        <img class="progress-img" ng-src="{{steps[currentStep].image}}" />
                                    </div>

                                    <div class="col-xs-5 col-sm-5">
                                        <button ng-hide="currentStep == steps.length-1" type="button" class="btn btn-primary btn-next btn-block btn-lg pull-right nav-buttons"
                                            ng-click="stepTo(currentStep + 1)">
                                            Next
                                        </button>
                                    </div>
                                </div> -->


                                <div ng-show="iframeMode">
                                    <div class="form-group" style="margin: -10px">
                                        <button type="button" class="btn btn-primary btn-next btn-lg btn-block btn-save" ng-show="iframeMode && !isChromeExtension" ng-click="sendToIframe()">
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <ng-copy-text-modal is-open="copyTextModal.isOpen" text="copyTextModal.text"></ng-copy-text-modal>
        <flickr-pickr is-fp-open="flickrPickr.isFpOpen" model="flickrPickr.model" fp-type="flickrPickr.type" selcted-image="">
            </flickrpickr>
    </div>

    <script src="index.min.js"></script>
</body>

</html>