<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authograph Metadata Editor</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-app="FourCornersEditor">
<div class="container-fluid" ng-controller="FormController" ng-cloak>
    <div class="row">
        <div class="col-xs-12">

            <h1 class="text-center"><img style="margin-top:-5px;height:50px"
                                         src="https://digitalinteraction.github.io/fourcorners/docs/logo_small.png"/>
                Authograph Metadata Editor<br>
                <small>Generate and edit metadata for an image</small>
            </h1>
        </div>
    </div>
    <hr>
    <h2 class="text-center" ng-hide="loaded">
        Loading...
    </h2>
    <form class="form-horizontal" ng-show="loaded">

        <div class="row" ng-show="welcomeView">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="form-group">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-default btn-default btn-lg btn-block"
                                ng-click="createNew()">
                            Create new file
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <div ng-meta-file-reader on-read="loadDataFromReader"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <ng-saved-metas on-selected="loadDataFromStorage"></ng-saved-metas>
                    </div>
                </div>
            </div>
        </div>

        <div ng-hide="welcomeView">
            <div class="row">
                <div class="col-md-5 sticky-area" ng-affix>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div ng-image-preview
                                 top-left-visible="preview.topLeftVisible"
                                 top-right-visible="preview.topRightVisible"
                                 bottom-left-visible="preview.bottomLeftVisible"
                                 bottom-right-visible="preview.bottomRightVisible"
                                 fc-data="preview.json"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 col-md-offset-5">
                    <fieldset ng-include="'ng-templates/backstory.html'"></fieldset>
                    <fieldset ng-include="'ng-templates/creative-commons.html'"></fieldset>
                    <fieldset ng-include="'ng-templates/context.html'"></fieldset>
                    <fieldset ng-include="'ng-templates/links.html'"></fieldset>
                    <br>
                    <div ng-hide="iframeMode">
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-primary btn-block btn-lg"
                                        ng-click="generate(downloadButtons[1])">
                                    {{ downloadButtons[1].text }}
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <button type="button" class="btn btn-default btn-block btn-lg"
                                        ng-click="generate(downloadButtons[0])">
                                    {{ downloadButtons[0].text }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div ng-show="iframeMode">
                        <div class="form-group">
                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-show="iframeMode"
                                    ng-click="sendToIframe()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <ng-copy-text-modal is-open="copyTextModal.isOpen" text="copyTextModal.text"></ng-copy-text-modal>
</div>

<script src="index.min.js"></script>
</body>
</html>
