<legend>Creative commons</legend>
<div class="form-group" ng-class="{'has-warning': !creativeCommons.ccOwnerName}">
    <label class="control-label col-sm-3" for="creative-commons-owner">Copyright</label>
    <div class="col-sm-9">
        <div class="row">
            <div class="col-xs-8">
                <input type="text"
                       id="creative-commons-owner"
                       class="form-control" placeholder="Name of the copyright owner"
                       ng-model="creativeCommons.ccOwnerName">
                <p class="help-block" ng-hide="creativeCommons.ccOwnerName">
                    Copyright owner is not specified
                </p>
            </div>
            <div class="col-xs-4">
                <input type="text" class="form-control" placeholder="Year"
                        ng-model="creativeCommons.ccYear">
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3" for="creative-commons-ethics">Code of ethics</label>
    <div class="col-sm-9">
        <textarea id="creative-commons-ethics"
                  class="form-control" placeholder="" rows="4"
                  ng-model="creativeCommons.codeOfEthics"></textarea>
    </div>
</div>
<div class="form-group">
    <label class="control-label col-sm-3" for="creative-commons-description">Description</label>
    <div class="col-sm-9">
        <textarea id="creative-commons-description"
                  class="form-control" placeholder="Short description of the photo" rows="4"
                  ng-model="creativeCommons.description"></textarea>
    </div>
</div>