<div class="modal-backdrop fade in" ng-show="isFpOpen">
</div>
<div class="modal fade in flickrpickr-modal" role="dialog" tabindex="-1" ng-show="isFpOpen">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="closePickr()">&times;</button>
                <h4 class="modal-title">Image Picker</h4>
            </div>




            <div class="modal-body" style="border-top: 1px solid #d5d5d5">
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label"><span><img src="img/url.png"></span>Image URL</label>
                        </div>
                        <div class="col-sm-12">
                            <p class="help-block">Here you can specify the URL of your image. </p>
                        </div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control col-sm-9" ng-model="selectedImage" ng-change="selectedId = ''" style="float:left;"
                                placeholder="http://example.com/images/example.png">
                        </div>
                    </div>
                </div>
                <hr>
                <div ng-show="isFlickr">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="control-label"><span><img src="img/flickr.png"></span>Flickr Images</label>
                            </div>
                            <div class="col-sm-12" ng-show="flickrState == FLICKR_STATUS[1]">
                                <p class="help-block">Pick an image you previously uploaded on Flickr. </p>
                            </div>
                        </div>
                    </div>
                    <div ng-show="flickrState == FLICKR_STATUS[0]">
                        <div class="caption">Loading</div>
                    </div>
                    <div ng-show="flickrState == FLICKR_STATUS[1]">

                        <div class="row gallery-container" id="gallery-container" when-scrolled="loadMore()">
                            <div class="col-xs-3 col-sm-3" ng-repeat="img in flickrImages">
                                <img div class="gallery-item" ng-class="{ 'active': img.id == selectedId }" ng-click="pickImage($event)" fpid="{{img.id}}"
                                    fpsrc="https://farm{{img.farm}}.staticflickr.com/{{img.server}}/{{img.id}}_{{img.secret}}"
                                    ng-src="https://farm{{img.farm}}.staticflickr.com/{{img.server}}/{{img.id}}_{{img.secret}}_q.jpg">
                            </div>
                        </div>


                    </div>
                </div>
                <div ng-show="flickrState == FLICKR_STATUS[2]" class="row form-group" style="text-align: center">
                    <div class="caption">
                        Connect to Flickr to pick images from your Flickr account
                    </div><br>
                    <button type="button" class="btn btn-default btn-lg" ng-click="authenticate()">
                            <span><img src="img/flickr.png"></span> Connect to Flickr
                        </button>
                </div>

            </div>

            <div class="modal-footer">
                <div class="row" style="text-align: right; padding: 0px 15px;">
                    <button type="button" ng-show="flickrState == FLICKR_STATUS[1]" class="btn btn-default" style="float: left" ng-click="logout()">Disconnect Flickr</button>
                    <button type="button" class="btn btn-primary btn-next" ng-click="select()">Select</button>
                </div>
            </div>

        </div>

    </div>
</div>