<legend><img src="img/tr.png"/> Links to Related Content</legend>
<p class="help-block">
    Include links here to websites that contain an accompanying article, related video, historical explanation, or
    any other contextualizing information; you can also link to the photographer’s website or that of an agency or
    publication.
</p>
<div class="form-subgroup ng-animate-enter-leave" ng-repeat="link in links">
    <div class="form-group">
        <div class="col-xs-12">
            <button type="button" class="close" title="Remove"
                    ng-click="removeLink(link)">&times;</button>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="link-title-{{$index}}">Title</label>
        <div class="col-sm-9">
            <input type="text"
                   id="link-title-{{$index}}"
                   class="form-control" placeholder="Title of a story"
                   ng-blur="resetPreviewVisibility()"
                   ng-focus="previewTopRightFocus()"
                   ng-model="link.title">
        </div>
    </div>
    <div class="form-group" ng-class="{'has-warning': !link.url}">
        <label class="control-label col-sm-3" for="link-url-{{$index}}">URL</label>
        <div class="col-sm-9">
            <input type="text"
                   id="link-url-{{$index}}"
                   class="form-control" placeholder="http://example.com/story.html"
                   ng-blur="resetPreviewVisibility()"
                   ng-focus="previewTopRightFocus()"
                   ng-model="link.url">
            <p class="help-block" ng-hide="link.url">
                Links without a valid URL will be ignored
            </p>
        </div>
    </div>
</div>
<br>
<div class="form-group">
    <div class="col-sm-12 text-center">
        <button type="button" class="btn btn-default btn-lg" ng-click="addLink()">
            Add New Link
        </button>
    </div>
</div>