<div class="file-reader-errors" ng-show="errorList.length">
    <div class="alert alert-danger">
        <ul>
            <li ng-repeat="error in errorList">{{ error }}</li>
        </ul>
    </div>
</div>
<div class="input-group">
    <textarea placeholder="Paste existing metadata here to edit previously created FourCorner images." class="form-control custom-control"
        rows="4" ng-model="pastedData"></textarea>
    <span class="input-group-addon btn btn-primary" ng-disabled="pastedData == '' || pastedData == null" ng-click="pastedData == '' || pastedData == null || loadPastedData()">Load Data</span>
</div>