
<!-- <div class="file-reader-errors" ng-show="errorList.length">
    <div class="alert alert-danger alert-dismissable fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="errorList=[]">&times;</a>
        <div ng-repeat="error in errorList"> {{ error }}</div>
    </div>
</div> -->

<div class="caption" ng-show="pastedData == '' || pastedData == null">
    Paste metadata from clipboard
</div>
<textarea class="form-control custom-control" rows="4" ng-model="pastedData"></textarea>
<span class="btn btn-default pasted" ng-hide="pastedData == '' || pastedData == null" ng-click="pastedData == '' || pastedData == null || loadPastedData()">LOAD DATA</span>