<div class="col-md-8 col-md-offset-2 col-xs-12">
    <div class="form-group" ng-show="welcomeStep == 0">
        <div class="col-xs-12 back-row">
            <div class="col-xs-12">
            </div>
        </div>
        <div class="col-xs-12">
            <div class="welcome-view">
                <div class="section or-overlay left s50" ng-click="createNew()">
                    <div class="caption">
                        Create New
                    </div>
                </div>
                <div class="section right s50" ng-click="welcomeStep = 1; errorList = '';">
                    <div class="caption">
                        Edit Existing
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group" ng-show="welcomeStep == 1">
        <div class="col-xs-12 back-row">
            <div class="col-xs-12">
                <a href="" ng-click="welcomeStep = 0; errorList = '';">
                    <i class="ic-back"></i> BACK </a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="file-reader-errors" ng-show="errorList && errorList != ''">
                <div class="alert alert-danger alert-dismissable fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close" ng-click="errorList = ''">&times;</a>
                    <div> {{ errorList }}</div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="welcome-view">
                <div class="section textarea or-overlay left s33" ng-meta-paste-data on-data-load="loadDataFromReader"> </div>
                <div class="section or-overlay mid s33" ng-meta-file-reader on-read="loadDataFromReader">

                </div>
                <div class="section right s33" ng-click="welcomeStep = 2">
                    <div class="caption">
                        Edit previously created images
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" ng-show="welcomeStep == 2">
        <div class="col-xs-12 back-row">
            <div class="col-xs-12">
                <a href="" ng-click="welcomeStep = 1; errorList = '';">
                    <i class="ic-back"></i> BACK </a>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="welcome-view">
                <ng-saved-metas on-selected="loadDataFromStorage"></ng-saved-metas>
            </div>
        </div>
    </div>

</div>